{% extends 'layout.html' %}
{% block body %}

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename ='css/eror.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>404</span></div>
                <span class="inner-status">İÇİ BOŞ SAYFA</span>
                <span class="inner-detail">Sen ben yazmazsak kim yazacak bu yazıları??</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>









{% endblock  %}