{% extends 'layout.html' %} <!-- Layout sayfasından miras alır-->
{% block body %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/index.css')}}">
<section class="p-0 bg-img cover-background" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
    <div class="container-fluid d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-9 col-lg-6 my-5">
                <div class="text-center error-page">
                    <h1 class="mb-0 text-secondary">URGENT TECH'E</h1>
                    <h2 class="mb-4 text-blue">Hoş Geldiniz!</h2>
                    <p class="w-sm-80 mx-auto mb-4 text-black"> Gelişmeyi ve pozitif yönde değişmeyi tek doğru kabul eden platformumuzda sende yerini hemen al ve fikirlerini okurlar ile paylaş!</p>
                    <div>
                        <a href="/articles" class="btn btn-info btn-lg me-sm-2 mb-2 mb-sm-0">Okumaya ve Yazmaya Başla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock    %}