{% extends 'layout.html' %}

{% block body  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% from 'includes/formhelpers.html' import render_field %}  


<!-- <form method="post" class="">
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    <button type="subbit" class="btn btn-primary"> Giriş Yap </button>
</form> -->


<!-- <div class="login-box">
    <h2>Login</h2>
    <form method="POST" action="{{url_for('login')}}">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required><br>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Login">
    </form>
  </div> -->
  
  <div style="margin-top: 10px;" class="register-panel container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="register-panel-col bg-white shadow-lg p-5">
        <img src="{{url_for('static', filename='images/login.svg')}}" alt="Admin" width="250" class="img-fluid my-5 mt-md-0 d-block mx-auto rounded-circle" >

        <h1 class="font-weight-bold">Giriş Yap</h1>
        <div class="row mt-4">
        </div>
        <form method="POST" action="{{url_for('login')}}">
        <div class="row mt-3">
          <div class="col-12 col-md-6">
            <span class="d-block mb-2">Kullanıcı Adınız</span>
            <input class="w-100 p-2" spellcheck="false" type="text" name="username" id="username" required placeholder="Kullanıcı Adınız">
          </div>

          <div class="col-12 col-md-6 mt-3 mt-md-0">
            <span class="d-block mb-2">Şifreniz</span>
            <input class="w-100 p-2" spellcheck="false" type="password" name="password" id="password" required placeholder="Kullanıcı Adınız">
          </div>  
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
              <button type="subbit" class=" w-100 py-2 btn btn-primary"> Giriş Yap </button>
            </div>
            </div>
    </form>
    </div>
    </div>
  </div>
{% endblock  %}
