{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% from 'includes/formhelpers.html' import render_field %} 
<!-- <form method="POST" action="{{url_for('login')}}">
    {{ render_field(form.name, class="form-control")}}
    {{ render_field(form.username,class="form-control") }}
    {{ render_field(form.email,class="form-control") }}
    {{ render_field(form.password,class="form-control") }}
    {{ render_field(form.confirm,class="form-control") }}
    <button type="subbit" class="btn btn-primary"> Kayıt Ol </button>
</form>
<form method="POST" action="{{url_for('login')}}">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Login">
  </form> -->

<div style="padding-bottom: 25px; margin-top: 10px;" class="register-panel container-fluid h-500">
    <div class="row justify-content-center align-items-center h-100">
      <div class="register-panel-col bg-white shadow-lg p-5">
            <img src="{{url_for('static', filename='images/login.svg')}}" alt="Admin" width="150" class="img-fluid my-5 mt-md-0 d-block mx-auto rounded-circle" >
            <h1 class="font-weight-bold">Kullanıcı Bilgileri</h1>
            <form method="POST" action="{{url_for('register')}}">
                <div class="row mt-4">
                <div class="col-12">
                    <span class="d-block mb-2">İsim Soyisim</span>
                    <input class="w-100 p-2" spellcheck="false type="text" name="name"  id="name"placeholder="İsim Soyisim" required">
                </div>
                </div>

                <div class="row mt-3">
                <div class="col-12">
                    <span class="d-block mb-2">Kullanıcı Adı</span>
                    <input  class="w-100 p-2" spellcheck="false" name="username" id="username" placeholder="Kullanıcı Adı" required >
                </div>
                </div>

                <div class="row mt-4">
                <div class="col-12">
                    <span class="d-block mb-2">Email</span>
                    <input class="w-100 p-2" spellcheck="false" type="email" name="email" id ="email" placeholder="Mail adresiniz" required>
                </div>
                </div>

                <div class="row mt-4">
                <div class="col-12">
                    <span class="d-block mb-2">Şifre</span>
                    <input class="w-100 p-2" spellcheck="false" type="password" name="password" id = "password" placeholder="Şifreniz" required>
                </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <span class="d-block mb-2">Tekrar Şifre</span>
                        <input class="w-100 p-2" spellcheck="false" type="password" name="confirm" id = "confirm" placeholder="Tekrar şifreniz" required>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <button type="subbit" class=" w-100 py-2 btn btn-primary"> Kayıt Ol </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock  %}